{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Eventos edit</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('evento_llistar') }}">
            Tornar a la llista d'events
        </a>
    </li>
    <li>
        <a href="{{ path('evento_eliminar', {'id': evento.idevento}) }}">
            Eliminar
        </a>
    </li>
</ul>
{% endblock %}
