

{% extends '::base.html.twig' %}

{% block body -%}

    <h1>PÀGINA D'ADMIN</h1>
    <li><a href="{{path('admin_crear')}}"> Crear Empresa </a><br></li>
    <li><a href="{{path('admin_llistar')}}"> Llistar tots els usuaris </a></li>
    <li> <a href="{{path('usuario_logout')}}"> Tencar sessió </a></li>

{% endblock %}
    
