{% extends "::base.html.twig"%}
{% block body %}
    <h1> INTRO </h1>
    <p> RECIBES UN ARRAY DE CHATS, DE LOS CUALES, PUEDES ACCEDER A LAS PROPIEDADES DE CADA UNO. APARTE, A TRAVÉS DE LA FOREIGN KEY, PUEDES ACCEDER A OTRAS PROPIEDADES DE OTROS OBJETOS.</p>
    
{% if chats is not empty %}
{% for chat in chats %}
    <h1> EJEMPLO 1- COGER EL NOMBRE DE UN EVENTO A PARTIR DE UN CHAT </h1>
    <p> {{chat.fkevento.nombre}} </p>
    <h1> EJEMPLO 2- COGER EL ID DEL CHAT </h1>
    <p> {{chat.idchat}}</p>
    
{% endfor %}
<h1> RECUERDA:
    </h1>
    <p> Para saber que nombre tienes las propiedades, dentro de cada bundle encontraras una carpeta llamada Entity. En ella hay los mapeados de los objetos (simplemente clases PHP). Los nombres de las propiedades que utilizas en TWIG son las mismas que los atributos privados de cada una de estas clases PHP. Suerte ;) </p>
    
{% else %}
    <p><b> Vaciooo tio, porque l'array desconfia, porque si no pones unirse al chat no se llena en la vida... (8) SERGI FEAT NACH. </b></p>
{% endif %}
{% endblock %}